### Load the Dataset

In [1]:
import seaborn as sns
df = sns.load_dataset("titanic")
df.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

### 1. How many people have more than 3 siblings?

In [2]:
total_siblings = df['sibsp']
many_siblings_count = total_siblings[total_siblings > 3].count()
print(f"Number of people with more than 3 siblings: {many_siblings_count}")

Number of people with more than 3 siblings: 30

### 2. Whats the square root of the average age?

In [3]:
average_age = df['age'].mean()
square_root_age = average_age**(1/2)
print(f"Square root of the average age: {square_root_age:.2f}")

Square root of the average age: 5.45

### 3. Return the survived class in percentage

In [4]:
survived_counts = df['survived'].value_counts()
survival_rate = (survived_counts[1] / len(df)) * 100
print(f"Survival Rate: {survival_rate:.2f}%")

Survival Rate: 38.38%

### 4. How many people die and how many people survived?

In [5]:
died_count = (df['survived'] == 0).sum()
survived_count = (df['survived'] == 1).sum()
print(f"Number Died: {died_count}, Number Survived: {survived_count}")

Number Died: 549, Number Survived: 342

### 5. How many passengers were traveling alone?

In [6]:
traveling_alone = (df['sibsp'] == 0) & (df['parch'] == 0)
alone_count = traveling_alone.sum()
print(f"Number of Passengers Traveling Alone: {alone_count}")

Number of Passengers Traveling Alone: 537

### 6. What was the most common port of embarkation?

In [7]:
most_common_port = df['embarked'].mode()[0]
print(f"Most Common Port of Embarkation: {most_common_port}")

Most Common Port of Embarkation: S

### 7. What percentage of passengers survived by gender?

In [8]:
gender_survival_rates = df.groupby('sex')['survived'].mean() * 100
print(gender_survival_rates)

sex
female    74.203822
male      18.890815
Name: survived, dtype: float64